{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          Hello! My name is Marios Moustakidis. I am 26 years old and I study Computer Science at Athens
            University Of Economics and Business.
        </p>
        <p>
          I am a passionate and driven undergraduate software engineer,
            currently in the final stages of completing my degree.
            My expertise lies in Python, where I have honed skills in Full Stack Web Development,
            Web Scraping, Automation, and Data Science. I thrive on developing innovative solutions and continuously
            learning new technologies.
        </p>
        <p>
          Please enjoy this and some of my other projects on <a href="https://github.com/MariosMoustakidis">GitHub</a>! You can also contact me by completing the form
            <a href="{{ url_for("contact") }}">here</a> or download my CV by clicking <a href="{{ url_for('download') }}">here</a>.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
